<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Combined Tools for Path of Exile</title>
    <meta name="description" content="Combined tools for Path of Exile: Vorici Chromatic Calculator and Blight Helper." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#A08C4A">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="poestyle.min.css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" type="image/png" href="Chromatic_Orb.png"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Vorici Chromatic Calculator Section -->
            <div class="col-12 col-lg-6">
                <div class="wrapper">
                    <div class="core">
                        <h1><a style="color: #EEEEEE; text-decoration: none;" href="http://siveran.github.io/calc.html">Vorici Chromatic Calculator</a></h1>
                        <hr>
                        <div class="form">
                            <table class="formTable">
                                <tr class="formRow socks">
                                    <td class="rowTitle">Total Sockets</td>
                                    <td class="rowField">
                                        <input id="sockets" class="entry white" placeholder="#"></input>
                                    </td>
                                    <td class="rowField"></td>
                                </tr>
                                <tr class="formRow reqs">
                                    <td class="rowTitle">Requirements</td>
                                    <td class="rowField">
                                        <input id="str" class="entry red " placeholder="str"></input>
                                    </td>
                                    <td class="rowField">
                                        <input id="dex" class="entry green " placeholder="dex"></input>
                                    </td>
                                    <td class="rowField">
                                        <input id="int" class="entry blue " placeholder="int"></input>
                                    </td>
                                    <td class="accept">
                                        <button id="calcButton" class="go">Calculate</button>
                                    </td>
                                </tr>
                                <tr class="formRow colors">
                                    <td class="rowTitle">Desired Colors</td>
                                    <td class="rowField">
                                        <input id="red" class="entry red" placeholder="R"></input>
                                    </td>
                                    <td class="rowField">
                                        <input id="green" class="entry green" placeholder="G"></input>
                                    </td>
                                    <td class="rowField">
                                        <input id="blue" class="entry blue" placeholder="B"></input>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr>
                        <div class="results">
                            <table class="result sortable" id="result">
                                <thead>
                                    <tr class="prob">
                                        <th>Craft Type</th>
                                        <th>Average Cost<br><span class="tablesubtitle">(in chromatics)</span></th>
                                        <th>Success Chance</th>
                                        <th>Average Attempts<br><span class="tablesubtitle">(mean)</span></th>
                                        <th>Cost per Try<br><span class="tablesubtitle">(in chromatics)</span></th>
                                        <th>Std. Deviation<br><span class="tablesubtitle">(of attempts)</span></th>
                                    </tr>
                                </thead>
                                <tbody id="resultbody">
                                    
                                </tbody>
                                <tbody id="recycle">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="etc">
                            <hr>
                            <br>
                            <span style="font-weight:bold;">Note: Chromatic orbs cannot reroll the same color permutation twice, so the chromatic success chance is always higher than the drop rate.</span>
                            <br>For mono-requirement items, on-color: 0.9 * (R + 10) / (R + 20)
                            <br>For mono-requirement items, off-color: 0.05 + 4.5 / (R + 20)
                            <br>For dual-requirement items, on-color: 0.9 * R1 / (R1 + R2)
                            <br>For dual-requirement items, off-color: 10% flat chance, regardless of requirements
                            <br>The formulas and color chances given are not guaranteed to be right (but I tried!)
                            <br>Questions, comments, or want to contribute data? Post on <a href="http://www.reddit.com/r/pathofexile/comments/2kjcxe/vorici_chromatic_calculator_updated_with_new/">Reddit</a>.
                            <br>&nbsp;&nbsp;&nbsp;<a href="https://github.com/Siveran/siveran.github.io/commits/master">Changelog</a> | <a href="https://github.com/Siveran/siveran.github.io">Source Code</a> | <a href="poedata3.csv">Item Data</a>
                            <br>Made by <a href="http://www.pathofexile.com/account/view-profile/Siveran">Siveran</a>. Last updated Aug 4, 2017.
                            <br>CC0 2017
                        </div>
                    </div>
                    <script src="SortTable.min.js"></script>
                    <script src="PoEChromaticCalc.js"></script>
                </div>
            </div>
            
            <!-- Blight Helper Section -->
            <div class="col-12 col-lg-6">
                <div id="app">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-5 col-xl-4 offset-xl-1">
                            <div class="d-flex flex-column align-items-center">
                                <div class="anointing px-3 py-2">
                                    <h1 class="text-center">{{ _.capitalize(type) }} Anointing</h1>
                                    <div class="d-flex justify-content-center my-3">
                                        <img v-on:click="setType('amulet')" src="img/amulet.png" alt="Anoint Amulet" class="type-select"
                                            :class="type === 'amulet' ? '' : 'faded'">
                                        <img v-on:click="setType('ring')" src="img/ring.png" alt="Anoint Ring" class="type-select"
                                            :class="type === 'ring' ? '' : 'faded'">
                                        <img v-on:click="setType('map')" src="img/map.png" alt="Anoint Map" class="type-select"
                                            :class="type === 'map' ? '' : 'faded'">
                                        <img v-on:click="setType('ravaged')" src="img/ravaged.png" alt="Anoint Ravaged Map" class="type-select"
                                            :class="type === 'ravaged' ? '' : 'faded'">
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-center oil-select">
                                        <div v-for="(oil, i) in combo" class="boxed">
                                            <img v-on:click="removeOil(i)" :src="oil.image" :alt="oil.name" :title="oil.name"
                                                data-toggle="tooltip" class="oil">
                                        </div>
                                        <div v-for="n in (maxOils - combo.length)" class="boxed"></div>
                                    </div>
                                </div>
                                <div class="anointment mt-3 p-3 w-100">
                                    <div v-if="anointment !== undefined">
                                        <div>
                                            <h3 class="name">
                                                <img v-if="type === 'ring'":src="anointment.image" class="icon">
                                                {{ isMapType() ? 'Blighted Map Modifiers' : anointment.name }}
                                            </h3>
                                            <p v-html="anointment.description" class="description mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap justify-content-center mx-xl-5">
                                    <div v-for="oil in oils" class="boxed">
                                        <img v-on:click="addOil(oil)" :src="oil.image" :alt="oil.name" class="oil"
                                            :title="`<b>${oil.name}</b><br>Drop Level: ${oil.level}`" data-toggle="tooltip" data-html="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1 col-xl-6 mt-4 mt
